.mg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./../../assets/bg6.jpg") center center fixed no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mg .mg-desc {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  padding-right: 70px;
  margin-top: 100px;
  white-space: nowrap;
}

.ligne2 {
  align-items: center;
  width: 25%;
  margin-top: 80px;
  margin-bottom: 30px;
  border: 5px solid rgb(20, 188, 101);
}
.bodyy1 {
  margin-top: 30px;
  padding: 25px 0px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.contexte {
  width: 100%;
}
.contexte h2 {
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 30px;
}
.contexte input {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  padding: 7px;
  outline: none;
}
.contexte textarea {
  margin-top: 20px;
  width: 100%;
  height: 70px;
  padding: 7px;
  outline: none;
}
.contexte span {
  max-width: 100%;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  padding: 7px;
  border-radius: 0px;
}
.la {
  margin-top: 30px;
  width: 100%;
  max-width: 100%;
  height: auto;

}
#la{
  font-size: 30px;
}
/* img */
.area {
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 30px;
}
.img-area {
  position: relative;
  width: 100%;
  height: 260px;
  background: rgb(237, 244, 246);
  margin-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-area .icone {
  font-size: 100px;
  color: rgb(83, 109, 221);
  cursor: pointer;
}
.img-area h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}

.select-image {
  display: block;
  width: 100%;
  padding: 16px 0;
  border-radius: 15px;
  background: rgb(60, 89, 218);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.select-image:hover {
  background: rgb(35, 64, 194);
}



@media only screen and (max-width: 1000px) {
  .mg .mg-desc {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .mg .mg-desc {
    word-wrap: break-word;
    font-size: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .mg .mg-desc {
    font-size: 30px;
    margin-top: 160px;
  }
}
.h11 {
  font-family: redressed;
  font-size: 58px;
  color: rgb(0, 0, 7);
  margin-bottom: 40px;
}
.y {
  width: 400px;
}
