footer {
  position:relative;
  width: 100%;
  min-height: 100px;
  background: rgba(21, 21, 21, 0.92);
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-media,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.social-media li,
.menu li {
  list-style: none;
}
.social-media li a {
  font-size: 2em;
  color: white;
  margin: 0 20px;
  display: inline-block;
  transition: 0.5s;
}
.social-media li a:hover  {
  transform: translateY(-10px);
  color: #405DE6;
}
.social-media li .insta-link:hover  {
  color:#914053;
}

.menu li a {
  font-family: redressed;
  font-size: 1.5em;
  color: white;
  margin: 0 20px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
.menu li a:hover {
  opacity: 1;
  
}
footer p {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
