@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap");

.redressed {
  font-family: "Redressed", cursive;
}
.merriweather {
  font-family: "Merriweather", serif;
}
.title {
  font-family: "Merriweather", serif;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  padding-top: 20px;
  color: rgb(0, 0, 0);
}
.p {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 40px;
}
.hr {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 20px;
  color: rgb(95, 177, 177);
}
.card.card-custom {
  
  transition: background-color 0.3s ease;
}
.card.card-custom:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.lien {
  margin: 10px;
  text-decoration: none; 
  color: inherit; 
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

.img-f {
  width: 100%;
  height: 600px;
  max-width: 100%;
  min-height: 500px;
  margin-left: -12px;
}
.img-f1 {
  width: 100%;
  height: 650px;
  max-width: 100%;
  min-height: 500px;
  margin-left: 12px;
}
.cc-atelier {
  background: linear-gradient(rgba(202, 199, 199, 0.5), rgba(0, 0, 0, 0.5)),
    url("./../../assets/bg2.jpg") center center fixed no-repeat;
  width: 100%;
  background-size: cover;
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
.card-text {
  min-height: 100px;
  margin-top: 40px;
  contain: content;
  font-size: 24px;
  font-style: oblique 30deg;
  font-family: "Fira Sans", Arial, sans-serif;
}

#proverbe {
  font-size: 40px;
  line-height: 54.6px;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  font-family: redressed;
  color: rgb(55, 38, 116);
  padding-bottom: 40px;
  text-shadow: 0 0 10px #8484a7;
}
.cc-carousel {
  padding-top: 10px;
  width: 100%;
}


.body {
  margin: 0;
  padding: 0;
  font-family: merriweather;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

.cc-team {
  position: relative;
}
.cc-team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(155, 133, 133), pink);
  clip-path: circle(30% at right 70%);
}
.cc-team::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(142, 165, 133), rgb(49, 121, 87));
  clip-path: circle(20% at 10% 30%);
}
#container {
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#card {
  position: relative;
  display: flex;
  width: 500px;
  height: 500px;
  background: rgb(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgb(0, 0, 0, 0.2);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
}
.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5%;
}

.container .card:hover .content {
  transform: translateY(-40px);
  opacity: 1;
}
.container .card .content .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .contentBx h3 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1rem;
}
.container .card .content .contentBx h3 span {
  font-size: 14px;
  font-weight: 300;
  text-transform: initial;
}
.container .card .social {
  position: absolute;
  bottom: 50px;
  display: flex;
}
:root {
  --i: 1; /* Set the initial value of the custom property */
}
.container .card .social li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(60px);
  transition: 0.5%;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}
.container .card:hover .social li {
  transform: translateY(0px);
  opacity: 1;
}
.container .card .social li a {
  color: rgb(0, 0, 0);
  font-size: 30px;
}
.cc-localisation {
  text-align: center;
  background-size: contain;
  width: 100%;
  background-color: #eee9e9;
}
.desc {
  margin: 200px 0px 16px;
  justify-content: center;
  font-family: redressed;
  color: rgb(3, 17, 56);
}
.desc h1 {
  font-size: 70px;
}
.desc p {
  font-size: 40px;
}
.map {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  height: 0;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media (max-width: 1000px) {
  .cc-localisation .row {
    flex-direction: column;
  }
}

